* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Ubuntu", sans-serif;
  color: #00cabf;
  background-color: #222222;
}

//----------------------Fonts are here------------------------------

//--------------------colors are here -------------------------------

//------------------- text sizes are here----------------------------------

h1 {
  font-size: 3rem;
}
 
h2 {
  font-size: 2.6rem;
}

h3 {
  font-size: 2.1rem;
}

h4 {
  font-size: 1.8rem;
}

p {
  font-size: 1.2rem;
}
